
    <div class='col-md-6' id="carousel">   
            <ngb-carousel >  
                <ng-template ngbSlide >  
                    <img src="../assets/ReferanslarKart1.svg" alt="Referanslar1">  
                   
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/ReferanslarKart1.svg" alt="Referanslar2">  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../assets/ReferanslarKart1.svg" alt="Referanslar3">  
                    
                </ng-template>  
               
            </ngb-carousel>  
        </div>   
  
