<div class="container" id="screen4">
    <div class="row p-5 text-center" id="screen4-div">
      <div class="col-sm-4 ">
        <img src="assets/ekonomi.png" alt="">
        <h6>Ekonomik fiyat <br> garantisi</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
    </div>
      <div class="col-sm-4 ">
        <img src="assets/saat.png" alt="">
        <h6>Saatler içerisinde binlerce <br> veri teslimi</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
      </div>
      <div class="col-sm-4 ">
        <img src="assets/gerceklik.png" alt="">
        <h6>Gerçekliği teyit edilmiş <br> katılımcılar</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
      </div>
      <div class="col-sm-4 mt-5">
        <img src="assets/okuma.png" alt="">
        <h6>Okuyarak yanıtlama <br> teyiti</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
      </div>
      <div class="col-sm-4 mt-5">
        <img src="assets/bilimsel.png" alt="">
        <h6>Bilimsel geçerlilik ve <br> güvenirlik garantisi</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
      </div>
      <div class="col-sm-4 mt-5">
        <img src="assets/analiz.png" alt="">
        <h6>Analize hazır <br> yapılandırılmış veriler</h6>
        <p>Point his commissaries. Quarter turner. In the or maybe ruining week two won't work</p>
      </div>
    </div>
    <div id="btn7-div" class="mt-3">
     <button type="button" id="btn7" class="btn btn-light">Şimdi veri toplamaya başlayın</button>
     </div>
  </div>