<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="col-md-4">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" class="rounded float-left" alt="...">
    </a>
</div> 
        <div class="navbar-nav col-md-4 offset-md-0">
          <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
          <a class="nav-link" href="#">Referanslarımız</a>
          <a class="nav-link" href="#">Hakkımızda</a>
          <a class="nav-link" href="#">SSS</a>
          <a class="nav-link" href="#" >Blog</a>
        </div>

        <div class="col-md-3 offset-md-1">
    <form class="d-flex" id="form1">
      <button type="button" id="btn1" class="btn btn-light ">Kaydol</button>
      <button type="button" id="btn2" class="btn btn-primary ">Giriş yap</button>
    </form>
  </div>
      </div>
    </div>
  </nav>

