

<div class="container" id="screen5">
    <div class="row">
        <div class="col-md" id="fourth-text">
            <h1>Referanslarımız</h1>
            <p>Bilimsel Anketler yazılımını kullanma fırsatı <br>
                bulan akademik araştırmacılara ait <br> referans yazıları</p>
           <button type="button" id="btn8"  class="btn btn-light">Veri toplama sürecini başlatın</button>
    
           <div class="col-md carousel">
                   <app-carousel></app-carousel>
        </div>
    </div>
    </div>
</div>
