#screen6{
    height: 680px;
    width: 100%;
}

#fifth-text{
  margin-top: 250px;
  padding-left: 80px;
}

p{
    color: #7d7d7d;
    font-size: 19px;
    font-weight: 450;
  }
  h1{
    font-weight: 760;
    color: #333;
  }
  img{
    margin-top: 170px;
    float: left;
    padding-left: 60px;
  }
  .btn{
    border: solid 0.4px #226ce0;
    color: #226ce0;
    margin-top: 20px;
    font-size: 13px;
    width: 150px;
    height: 35px;
  }