<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <div class="container-fluid  start-page">
    <div class="justify-content-center text-content" >
      <h1> Tüm bilimsel çalışmalarınızda yanınızdayız</h1>
      <p> Bilimsel Anketler yardımıyla akademik ve bilimsel çalışmalarınızda <br>
        yüksek başarı ve doğruluk oranı yakalayacağınız anket <br> sonuçlarına ulaşacaksınız</p>
    </div>
    <div class="form-div">
      <form class="d-flex justify-content-center" id="form2">
        <button type="button" id="btn3"  class="btn btn-primary">Şimdi anketinizi oluşturun</button>
        <button type="button" id="btn4" class="btn btn-light">Veri toplama teklifi isteyin</button>
      </form>
    </div>

  </div>
  <a id="arrow" class="mt-4" href="#screen2">
    <img class="mx-auto d-block" src="assets/down.png" alt="Go to down">
</a>
