
  <div class="container-fluid  start-page">
    <div class="justify-content-center text-content" >
      <h1> Tüm bilimsel çalışmalarınızda yanınızdayız</h1>
      <p> Bilimsel Anketler yardımıyla akademik ve bilimsel çalışmalarınızda <br>
        yüksek başarı ve doğruluk oranı yakalayacağınız anket <br> sonuçlarına ulaşacaksınız</p>
    </div>
    <div class="form-div">
      <form class="d-flex justify-content-center" id="form2">
        <button type="button" id="btn3"  class="btn btn-primary">Şimdi anketinizi oluşturun</button>
        <button type="button" id="btn4" class="btn btn-light">Veri toplama teklifi isteyin</button>
      </form>
    </div>

  </div>
