<div class="container-fluid " id="screen3">
    <div class="row">
           <div class="col-sm-6" >
            <img src="assets/Mobil.png" class="" alt="...">
           </div>

       <div class="col-sm-6" id="third-text">
            <h1>Akademik anketler</h1>
            <p>Akademik araştırmalarınız için ekonomik, <br> hızlı, güvenilir ve doğru bir şekilde veri <br> toplama hizmetinden yararlanın</p>
           <button type="button" id="btn6"  class="btn btn-light">Teklif isteyin</button>
    
        </div>
    </div>
    </div>
